<table class="link-table" id="link-table">
  <thead>
    <th width="200px">Squished Link</th>
    <th width="400px">Long Link</th>
    <th width="70px">Views</th>
    <th width="70px">When</th>
  </thead>
  <tbody>
    <%= render links %>
  </tbody>
</table>
