<tr>
  <td><%= link_to short_url(link.key), short_url(link.key) %></td>
  <td><%= link.views %></td>
  <td><%= link_to(link.url, link.url) %></td>
  <td><%= distance_of_time_in_words link.created_at, Time.zone.now %>
</tr>