<div class="container">
    <table>
      <thead>
        <th>Shortened Link</th>
        <th>Views</th>
        <th>Long Link</th>
        <th>When</th>
      </thead>
      <tbody>
        <%= render links %>
      </tbody>
    </table>
</div>