<div class="full-width squish-wrapper">
  <div class="container">
      <%= render :partial => "form" %>
  </div>
</div>

<h3>Popular</h3>
<%- if @popular.size > 0 -%>
  <%= render 'links', :links => @popular %>
<%- end -%>

<h3>My Links</h3>
<%- if @my_links.size > 0 -%>
  <%= render 'links', :links => @my_links %>
<%- end -%>

<h3>Recent</h3>
<%- if @recent.size > 0 -%>
  <%= render 'links', :links => @recent %>
<%- end -%>