<div class="full-width squish-wrapper">
  <div class="container">
      <%= render :partial => "form" %>
  </div>
</div>
<div class="container">
  <%- if @popular.size > 0 -%>
    <%= render 'links', :links => @popular %>
  <%- end -%>

  <%- if @my_links.size > 0 -%>
    <%= render 'links', :links => @my_links %>
  <%- end -%>

  <%- if @recent.size > 0 -%>
    <%= render 'links', :links => @recent %>
  <%- end -%>
</div>