<div class="row">
  <%= render :partial => "form" %>
</div>

<%- if @links.size > 0 -%>
<div class="row">
  <table>
    <thead>
      <th>Shortened Link</th>
      <th>Views</th>
      <th>Long Link</th>
    </thead>
    <tbody>
      <%- @links.each do |link| -%>
      <tr>
        <td><%= url_for(link.key) %></td>
        <td><%= link.views %></td>
        <td><%= link.url %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
<%- end -%>