@charset "UTF-8";

// Colors --------------------------------------------------------------

$sqsh-blue: #0E72A4;
$sqsh-dark-blue: #11588A;
$sqsh-red: #921814;

$sqsh-white: #fff;
$sqsh-black: #000;

$sqsh-light-grey: #F4F5F4;
$sqsh-mid-grey: #CCC;

$sqsh-light-copy: #999999;
$sqsh-mid-copy: #666666;
$sqsh-dark-copy: #333333;

$selected-font-color: #fff;  // color for selected text
$selected-background-color: #CC5200;  // bg-color for selected text



